.container_contato {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 2em;
    font-size: 20px;
}

.container_contato h1 {
    font-size: 2.5em;
    margin-bottom: .5em;
    color: #0ef706;
}

.container_contato span {
    color: #0ef706;
    margin-top: 5px;
}

.container_contato h2 {
    font-size: 1.5em;
    margin-bottom: .5em;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #0ef706;
    transition: .7s;
}