.main_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em;
    font-size: 20px;
}

.main_container h1{
    font-size: 2.5em;
    margin-bottom: .5em;
    color: #0ef706;
}

.container_contato h2 {
    font-size: 1.5em;
    margin-bottom: .5em;
}