.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #222;
    padding: 1em;
    color: #fff;

}

.list{
    display: flex;
    list-style: none;
    align-items: center;
}

.item{
    margin-right: 1em;
    text-decoration: none;
}

.item a{
    color:#fff;
    text-decoration: none;
}

.item a:hover{
    color:#0ef706;
    transition: .5s;
}